
.loginForm{
    display: inline-block;
    position: relative;
    margin:0 auto;
    top:2%;
    margin-top:5%;
    padding-top:10%;
    width: 100%;
}
label{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}
