.container{
    text-align: center;
    margin:0 auto;
    width: 80%;
}
.loginForm{
    display: inline-block;
    margin:0 auto;
    margin-top:5%;
    padding-top:10%;
    width: 100%;
}
label{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}
