.movement{
    border-radius: 12px 0px ;
    width: 90%;
    margin:0 auto;
    padding: 0.5em 0px 0px 3px;
    margin-top:10px;
}
.egress{
    border: 2px solid #5e9112;
}
.income{
    border: 2px solid #5e9112;
}